<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JillAI: Your Personal AI Assistant</title>
    <meta name="description" content="Meet JillAI: Your Personal AI Assistant JillAI is here to simplify your life and help you achieve your best self. With a sleek and modern design, JillAI adapts to your unique needs, offering tailored support through customizable personas. Whether you’re looking to stay organized, find quick information, or keep up with the weather, JillAI is your go-to solution. Embrace the future of assistance—everyone could use a personal assistant!">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="preload" href="/static/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/static/css/bootstrap.min.css"></noscript>
    <link rel="preload" href="/static/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="static/css/style.css"></noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Agbalumo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&amp;display=swap">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top bg-dark py-3 navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-md shadow-none d-flex justify-content-center align-items-center me-2 bs-icon"><img src="static/img/Logo.png" width="100" height="104"></span><span class="fw-bolder" style="font-family: 'Amatic SC', serif;font-weight: bold;font-size: 50px;">JillAI</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('team') }}">Team</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                    <a class="btn btn-primary shadow" role="button" href="{{ url_for('dashboard') }}" style="margin: 20px;">Dashboard</a><a class="btn btn-primary shadow" role="button" href="{{ url_for('logout') }}" style="margin: 20px;">Logout</a><a class="btn btn-primary shadow" role="button" href="{{ url_for('account_settings') }}">Account Settings</a>
                {% else %}
                    <a class="btn btn-primary shadow" role="button" href="{{ url_for('login') }}" style="margin: 20px;">Login</a><a class="btn btn-primary shadow" role="button" href="{{ url_for('register') }}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <header>
        <div class="container pt-4 pt-xl-5">
            <div class="row text-bg-dark pt-5">
                <div class="col-md-8 col-xl-6 col-xxl-10 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <p class="lead fs-2 fw-bold text-success mb-2"><br>Meet JillAI: Your Personal AI Assistant</p>
                        <h4 class="text-center"><br>JillAI is here to simplify your life and help you achieve your best self. With a sleek and modern design, JillAI adapts to your unique needs, offering tailored support through customizable personas. Whether you’re looking to stay organized, find quick information, or keep up with the weather, JillAI is your go-to solution. Embrace the future of assistance, because&nbsp;<span style="color: rgb(30,242,170);font-family: 'Annie Use Your Telescope', serif;font-size: 36px;"><br>everyone could use a personal assistant!</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container bg-dark py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Core Features</p>
                    <h3 class="fw-bold">What can JillAI do for you?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding-bottom: 0px;margin-top: 1px;margin-bottom: 3px;padding-left: 0px;padding-right: 0px;">
                    <div class="carousel slide" data-bs-ride="false" id="carousel-1" style="transform: scale(0.87);background: #27262e;">
                        <div class="carousel-inner">
                            <div class="carousel-item active"><img class="w-100 d-block" alt="Web Searches Made Easy With JillAI, accessing information has never been simpler. Just type your query, and watch as JillAI scours the web to bring you the most relevant results in seconds. Say goodbye to endless searching and hello to instant answers!" src="static/img/caro/1.jpg" style="backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);filter: blur(0px);">
                                <div class="carousel-caption" style="backdrop-filter: opacity(1);-webkit-backdrop-filter: opacity(1);background: rgba(48,47,55,0.64);position: static;">
                                    <h2 style="background: #ffffff00;"><strong>Web Searches Made Easy</strong></h2>
                                    <p style="font-size: 20px;">With JillAI, accessing information has never been simpler. Just type your query, and watch as JillAI scours the web to bring you the most relevant results in seconds. Say goodbye to endless searching and hello to instant answers!</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img class="w-100 d-block" alt="Stay Updated with the Weather Never be caught off guard by the elements again! JillAI provides real-time weather updates, ensuring you're always prepared for what’s ahead. Whether it’s a sunny day or a rainy forecast, JillAI keeps you in the loop." src="static/img/caro/2.jpg" style="backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);filter: blur(0px);">
                                <div class="carousel-caption" style="backdrop-filter: opacity(1);-webkit-backdrop-filter: opacity(1);background: rgba(48,47,55,0.64);position: static;">
                                    <h2 style="background: #ffffff00;">Stay Updated with the Weather</h2>
                                    <p style="font-size: 20px;">Never be caught off guard by the elements again! JillAI provides real-time weather updates, ensuring you're always prepared for what’s ahead. Whether it’s a sunny day or a rainy forecast, JillAI keeps you in the loop.</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img class="w-100 d-block" alt="Seamless Event Scheduling - Organizing your life has never been easier! JillAI integrates effortlessly with Google Calendar, allowing you to schedule events and set reminders by simply telling JillAI to do it. Keep your schedule on track and never miss an important moment again." src="static/img/caro/3.jpg" style="backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);filter: blur(0px);">
                                <div class="carousel-caption" style="backdrop-filter: opacity(1);-webkit-backdrop-filter: opacity(1);background: rgba(48,47,55,0.64);position: static;">
                                    <h2 style="background: #ffffff00;">Seamless Event Scheduling</h2>
                                    <p style="font-size: 20px;">Organizing your life has never been easier! JillAI integrates effortlessly with Google Calendar, allowing you to schedule events and set reminders by simply telling JillAI to do it. Keep your schedule on track and never miss an important moment again.</p>
                                </div>
                            </div>
                            <div class="carousel-item"><img class="w-100 d-block" alt="Customizable Personas for Your Needs - Choose from over eight unique personas, each designed to help people who are as unique as their personal assistants should be. From productivity boosting to wellness guides and emotional support, JillAI’s personas adapt to your preferences, ensuring you get the support you need when you need it." src="static/img/caro/4.jpeg" style="backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);filter: blur(0px);padding: 0px;padding-top: 0px;">
                                <div class="carousel-caption" style="backdrop-filter: opacity(1);-webkit-backdrop-filter: opacity(1);background: rgba(48,47,55,0.64);position: static;">
                                    <h2 style="background: #ffffff00;">Customizable Personas for Your Needs</h2>
                                    <p style="font-size: 20px;">Choose from over eight unique personas, each designed to help people who are as unique as their personal assistants should be. From productivity boosting to wellness guides and emotional support, JillAI’s personas adapt to your preferences, ensuring you get the support you need when you need it.</p>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                        <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3"></button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container text-center py-5">
            <p class="mb-4" style="font-size: 1.6rem;">Used by <span class="text-success"><strong>none</strong></span>&nbsp;of the best companies in the world.</p><img src="static/img/brands/google-brands-nope.png" width="85" height="85" style="padding: 0px;margin: 30px;"><img src="static/img/brands/windows-brands-nope.png" width="81" height="81" style="margin: 30px;"><img src="static/img/brands/apple-brands-nope.png" width="76" height="89" style="margin: 30px;"><img src="static/img/brands/facebook-brands-nope.png" width="79" height="77" style="margin: 30px;"><img src="static/img/brands/twitter-brands-nope.png" width="78" height="62" style="margin: 30px;">
        </div>
    </section>
    <section>
        <div class="container text-bg-dark py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold" style="color: rgb(25,245,170);">So what are you waiting for?</h2>
                </div>
            </div>
            <div class="mx-auto" style="max-width: 900px;">
                <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                    <div class="col-xxl-2 text-center"><a class="btn btn-primary text-center shadow" role="button" href="{{ url_for('register') }}" style="display: inline-flex;text-align: center;">Get Started!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container text-bg-dark">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fs-3 fw-bold text-success mb-2">Contacts</p>
                    <h2 class="fs-5 fw-bold">Reach out to us!</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" data-bss-recipient="fc700eb64579f9b33b0940d6de5388e7">
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="Name" required=""></div>
                            <div class="mb-3"><input class="form-control" type="email" id="email-1" name="email" placeholder="Email" required=""></div>
                            <div class="mb-3"><textarea class="form-control" id="message-1" name="message" rows="6" placeholder="Message" required="" minlength="10"></textarea></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Send </button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark">
        <div class="container py-4 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center">
                <p class="mb-0"><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a> &nbsp;-&nbsp;<a href="{{ url_for('tos') }}">Terms Of Service</a> &nbsp;-&nbsp; Copyright © 2024 JillAI</p>
            </div>
        </div>
    </footer>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bold-and-dark.js"></script>
    <script src="static/js/smart-forms.min.js"></script>
</body>

</html>