<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JillAI: Your Personal AI Assistant</title>
    <meta name="description" content="Meet JillAI: Your Personal AI Assistant
JillAI is here to simplify your life and help you achieve your best self. With a sleek and modern design, JillAI adapts to your unique needs, offering tailored support through customizable personas. Whether you’re looking to stay organized, find quick information, or keep up with the weather, JillAI is your go-to solution. Embrace the future of assistance—everyone could use a personal assistant!">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Agbalumo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&amp;display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top bg-dark py-3 navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-md shadow-none d-flex justify-content-center align-items-center me-2 bs-icon"><img src="static/img/Logo.png" width="100" height="104"></span><span class="fw-bolder" style="font-family: 'Amatic SC', serif;font-weight: bold;font-size: 50px;">JillAI</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('team') }}">Team</a></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary shadow" role="button" href="{{ url_for('login') }}" style="margin: 20px;">Login</a><a class="btn btn-primary shadow" role="button" href="{{ url_for('register') }}">Sign up</a>
            </div>
        </div>
    </nav>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col">
                        <div></div>
                    </div>
                    <div class="col">
                        <h4 class="modal-title" style="position: static;text-align: center;color: rgb(114,255,199);font-family: 'Amatic SC', serif;font-size: 30px;">Account Setup</h4>
                    </div>
                    <div class="col">
                        <div></div>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="font-size: 15px;text-align: center;">Great to have you join JillAI! Account setup is a one time thing that will help us give you a seamless experience. It is only a handful of questions for you, so please be patient with us.</p>
                    <p style="text-align: center;">First thing we need, what name should we know you as?</p>
                    <form><input class="form-control" type="text" style="position: relative;display: block;" name="firstName" placeholder="First Name" required="">
                        <hr style="opacity: 0;"><input class="form-control" type="text" placeholder="Last Name" name="lastName" required="">
                    </form>
                    <div></div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                    <div class="col">
                        <div></div>
                    </div><button class="btn btn-primary" type="button" data-bs-target="#modal-2" data-bs-toggle="modal">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col">
                        <div></div>
                    </div>
                    <div class="col">
                        <h4 class="modal-title" style="position: static;text-align: center;color: rgb(114,255,199);font-family: 'Amatic SC', serif;font-size: 30px;">Account Setup</h4>
                    </div>
                    <div class="col">
                        <div></div>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="font-size: 15px;text-align: center;">Got it! Thanks &lt;firstName&gt;!</p>
                    <p style="text-align: center;">Next we need to know your date of birth for our records. Don't worry, your data is secured and will never be shared!</p>
                    <form><input class="form-control" type="date" required="" name="dateOfBirth"></form>
                    <div></div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                    <div class="col">
                        <div></div>
                    </div><button class="btn btn-primary" type="button" data-bs-target="#modal-3" data-bs-toggle="modal">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col">
                        <div></div>
                    </div>
                    <div class="col">
                        <h4 class="modal-title" style="position: static;text-align: center;color: rgb(114,255,199);font-family: 'Amatic SC', serif;font-size: 30px;">Account Setup</h4>
                    </div>
                    <div class="col">
                        <div></div>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="font-size: 15px;text-align: center;">Okay, thank you for that &lt;firstName&gt;.</p>
                    <p style="text-align: center;">The next thing we need to know is, what gender are you?</p>
                    <form>
                        <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1" name="gender" value="1"><label class="form-check-label" for="formCheck-1">Male</label></div>
                        <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2" name="gender" value="2"><label class="form-check-label" for="formCheck-2">Female</label></div>
                        <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-3" name="gender" value="3"><label class="form-check-label" for="formCheck-3">Non-Binary</label></div>
                        <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-4" name="gender" value="4"><label class="form-check-label" for="formCheck-4">Other</label></div>
                    </form>
                    <div></div><small>(This question helps us determine what pronouns to refer to you by)</small>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                    <div class="col">
                        <div></div>
                    </div><button class="btn btn-primary" type="button" data-bs-target="#modal-4" data-bs-toggle="modal">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-4">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col">
                        <div></div>
                    </div>
                    <div class="col">
                        <h4 class="modal-title" style="position: static;text-align: center;color: rgb(114,255,199);font-family: 'Amatic SC', serif;font-size: 30px;">Account Setup</h4>
                    </div>
                    <div class="col">
                        <div></div>
                    </div>
                </div>
                <div class="modal-body">
                    <p style="font-size: 15px;text-align: center;">Good to know &lt;firstName&gt;.</p>
                    <p style="text-align: center;">In order to enable your assistant to give you accurate weather updates, we will need to know what zip code you would like your home forecast to be. Please provide us with your preferred 5-digit zip code.</p>
                    <form><input class="form-control" type="text" required="" placeholder="Zip Code" name="zipCode" minlength="5" maxlength="5" pattern="\d{5}"></form>
                    <div></div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                    <div class="col">
                        <div></div>
                    </div><button class="btn btn-primary" type="button" id="submitFormButton">Next</button>
                </div>
            </div>
        </div>
    </div>
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Sign up</p>
                    <h2 class="fw-bold">Welcome!</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                                </svg></div>
                            <form action="{{ url_for('register') }}" method="post">                                
                                <!-- Toast Container -->
                                <div aria-live="polite" aria-atomic="true" class="position-relative">
                                    <div class="toast-container">
                                    {% with messages = get_flashed_messages(with_categories=True) %}
                                        {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="toast align-items-center text-bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
                                            <div class="d-flex">
                                                <div class="toast-body">
                                                {{ message }}
                                                </div>
                                                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                            </div>
                                            </div>
                                        {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                    <div class="invalid-feedback">This email is already taken.</div>
                                    <div class="valid-feedback">Email is available!</div>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="userName" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="userName" name="userName" minlength="4" required>
                                    <div class="invalid-feedback">This username is already taken.</div>
                                    <div class="valid-feedback">Username is available!</div>
                                </div>
                                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&amp;])[A-Za-z\d@$!%*?&amp;]{8,}"></div>
                                <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Sign up</button></div>
                                <p class="text-muted">Already have an account?&nbsp;<a href="{{ url_for('login') }}">Log in</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark">
        <div class="container py-4 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0"><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>&nbsp; &nbsp;-&nbsp; &nbsp;Copyright © 2024 JillAI</p>
            </div>
        </div>
    </footer>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bold-and-dark.js"></script>
    <script src="static/js/toast.js"></script>
    <script src="static/js/validation.js"></script>
</body>

</html>