<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JillAI: Your Personal AI Assistant</title>
    <meta name="description" content="Meet JillAI: Your Personal AI Assistant
JillAI is here to simplify your life and help you achieve your best self. With a sleek and modern design, JillAI adapts to your unique needs, offering tailored support through customizable personas. Whether you’re looking to stay organized, find quick information, or keep up with the weather, JillAI is your go-to solution. Embrace the future of assistance—everyone could use a personal assistant!">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Agbalumo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&amp;display=swap">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top bg-dark py-3 navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-md shadow-none d-flex justify-content-center align-items-center me-2 bs-icon"><img src="static/img/Logo.png" width="100" height="104"></span><span class="fw-bolder" style="font-family: 'Amatic SC', serif;font-weight: bold;font-size: 50px;">JillAI</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('team') }}">Team</a></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary shadow" role="button" href="{{ url_for('login') }}" style="margin: 20px;">Login</a><a class="btn btn-primary shadow" role="button" href="{{ url_for('register') }}">Sign up</a>
            </div>
        </div>
    </nav>
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold" style="color: rgb(25,242,167);">All Star Talent</h2>
                    <p class="text-muted">No matter the project, our team can handle it.... Probably...</p>
                </div>
            </div>
            <div class="row row-cols-2 d-inline-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center mx-auto justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center" style="position: static;display: grid;max-width: 750px;">
                <div class="col mb-4" style="display: grid;">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" width="150" height="150" src="static/img/team/Alice.jpg">
                        <h5 class="fw-bold mb-0"><strong>Alice Allen</strong></h5>
                        <p class="text-muted mb-2">Lead Developer</p>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" alt="silhouette of man" width="150" height="150" src="static/img/team/placeholder.jpg">
                        <h5 class="fw-bold mb-0">Jeffery Beggs</h5>
                        <p class="text-muted mb-2">Database Architect and Technical Support</p>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" alt="silhouette of man" width="150" height="150" src="static/img/team/placeholder.jpg">
                        <h5 class="fw-bold mb-0">Ethan Smith</h5>
                        <p class="text-muted mb-2">Scribe and Quality Assurance</p>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="text-center"><img class="rounded mb-3 fit-cover" alt="silhouette of man" width="150" height="150" src="static/img/team/placeholder.jpg">
                        <h5 class="fw-bold mb-0">John Martinez</h5>
                        <p class="text-muted mb-2">Front-End Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark">
        <div class="container py-4 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2024 JillAI</p>
            </div>
        </div>
    </footer>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bold-and-dark.js"></script>
</body>

</html>